h1{
    color: #00FFFF;
     color: #0000FF;
    color: rgb(255, 255, 0);
    color: rgba(255, 255, 0, .5);
    color: hsl(0, 100%, 50%);
    color: hsla(0, 100%, 50%, 0);
}

.heading{
    color: aqua;
}

body{
    color: red;
    font-size: 20px;
}

.box {
    height: 100px;
    width: 100px;
    padding: 20px;
    margin:50px;
    border:10px solid yellow;
    background-color: black;

}

.btn{
    padding: 10px;
    color: white;
}

.btn-1{
    background-color: green;
}

.btn-2{
   background-color: blue;
}

.btn-3{
    background-color: purple;
}